body {
    background-color: #2596be;
}

/*.text{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #efd404;
}*/
h1{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.galeryNahled{
    display: block;
    text-align: left;
    width: fit-content;
    margin: 5px;
}

.uvod{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}


.button{
    display: block;
    padding: 10px 20px;
    background: #efd404;
    color: black;
    border-radius: 5px;
    width: fit-content;
    margin: 5px auto;
}

.obrazJAK{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    width: 300px;
}
.obrazJAK{
    position: absolute;
    top: 0cap;
    left: 50%;
}

/*.divButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
*/