body {
    background-image: url('Assets/pozadi.jpg');
    background-size: cover;
}

.text{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #efd404; */
}

.uvod{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

.videoUvod{
    display: block;
    padding-left: auto;
    padding-right: auto;
    margin-right: 5px;
    padding-top: 10px;
}

.button{
    display: block;
    padding: 10px 20px;
    background: #efd404;
    color: black;
    border-radius: 5px;
    width: fit-content;
    margin: 5px;
    align-self: center;
}

/*.divButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
*/